<p>Bonjour <%= @resource.fullname %>!</p>

<p>Pour confirmer votre mail, veuillez cliquer sur le lien suivant :</p>

<p><%= link_to 'Je confirme mon mail', confirmation_url(@resource, confirmation_token: @token) %></p>
